
:global(body) {
  box-sizing: border-box;
  margin: 0;
}

:global(html) {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

.mainContainer {
  background-color: rgb(29,30,33);
  width: 100vw;
  height: 100vh;
  display: flow-root;
}
